root = true

[*]

charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]

indent_style = space
indent_size = 4

dotnet_style_qualification_for_field = true
dotnet_style_qualification_for_property = true
dotnet_style_qualification_for_event = true
dotnet_style_qualification_for_method = true

csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = false

dotnet_style_namespace_match_folder = true
csharp_style_namespace_declarations = file_scoped

# Treat all IDE* warnings as errors
dotnet_analyzer_diagnostic.category-Style.severity = error

# Disable: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = none

# Disable: Null check can be simplified (if null check)
dotnet_diagnostic.IDE0270.severity = none

# Disable: Remove unused private member
dotnet_diagnostic.IDE0051.severity = none

# Disable: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = none
